{% set title = "Favorites" %}
{% extends "templates/base.njk" %}

{% block content %}
<div class="container">
	<div class="row d-flex border border-dark rounded align-items-center mb-2">
		<div class="col-1 border-end border-dark">
			<img src="fastsnacks.png" class="w-100 p-2">
		</div>
		<div class="col py-2">
			<h2>Example Snack</h2>
			<p>$2.99</p>
		</div>
		<div class="col-auto m-4 text-danger">
			<i data-feather="heart"></i>
		</div>
	</div>
	<div class="row d-flex border border-dark rounded align-items-center mb-2">
		<div class="col-1 border-end border-dark">
			<img src="fastsnacks.png" class="w-100 p-2">
		</div>
		<div class="col py-2">
			<h2>Example Snack</h2>
			<p>$2.99</p>
		</div>
		<div class="col-auto m-4 text-danger">
			<i data-feather="heart"></i>
		</div>
	</div>
	<div class="row d-flex border border-dark rounded align-items-center mb-2">
		<div class="col-1 border-end border-dark">
			<img src="fastsnacks.png" class="w-100 p-2">
		</div>
		<div class="col py-2">
			<h2>Example Snack</h2>
			<p>$2.99</p>
		</div>
		<div class="col-auto m-4 text-danger">
			<i data-feather="heart"></i>
		</div>
	</div>
</div>
{% endblock %}
