{% set title = "Transaction History" %}
{% extends "templates/base.njk" %}

{% block content %}
{# This webpage shows the recent transaction history of the user #}
<div class="history-container">
    <div class="header">
      <h2>Transaction History: John Doe</h2>
    </div>
    <div>
      <div class="balances">
        {# This shows the user's account balance and how much they can spend #}
        <div class="account-balance">
          <span class="label">Current Balance</span>
          <span class="dots"></span>
          <span class="amount">$100.00</span>
        </div>
        <div class="account-balance">
          <span class="label">Available Balance</span>
          <span class="dots"></span>
          <span class="amount">$100.00</span>
        </div>
      </div>
      <div class="transactions">
        <h3>Recent Activity</h3>
        <table>
          {#
          <thead>
            <tr>
              <th>Date</th>
              <th>Description</th>
              <th>Amount</th>
            </tr>
          </thead>
          #}
          {# This shows all the recent purchases made by the user #}
          <tbody>
            <tr class="transaction-row">
              <td class="transaction-date">10/30/2022</td>
              <td>Lay's Chips</td>
              <td class="transaction-amount">$0.99</td>
            </tr>
            <tr class="transaction-row">
              <td class="transaction-date">11/02/2022</td>
              <td>Diet Coca-Cola</td>
              <td class="transaction-amount">$3.50</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="footer">
    </div>
  </div>
{% endblock %}
